USE [master]
GO
/****** Object:  Database [CUChatNetDB]    Script Date: 03/04/2026 22:16:02 ******/
CREATE DATABASE [CUChatNetDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CUChatNetDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CUChatNetDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CUChatNetDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CUChatNetDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CUChatNetDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CUChatNetDB]
GO
/****** Object:  Table [dbo].[BitacoraEventos]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEventos](
	[EventoID] [bigint] IDENTITY(1,1) NOT NULL,
	[Categoria] [nvarchar](30) NOT NULL,
	[UsuarioID] [bigint] NULL,
	[DispositivoID] [bigint] NULL,
	[Accion] [nvarchar](200) NOT NULL,
	[Detalles] [nvarchar](max) NULL,
	[Severidad] [nvarchar](20) NOT NULL,
	[DireccionIP] [varchar](45) NULL,
	[FechaEvento] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatParticipantes]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatParticipantes](
	[ChatParticipanteID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChatID] [bigint] NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Fijado] [bit] NOT NULL,
	[Archivado] [bit] NOT NULL,
	[Silenciado] [bit] NOT NULL,
	[FechaUnion] [datetime2](0) NOT NULL,
	[FechaSalida] [datetime2](0) NULL,
	[FechaUltimaLectura] [datetime2](0) NULL,
	[FechaUltimaLimpieza] [datetime2](0) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatParticipanteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ChatParticipantes] UNIQUE NONCLUSTERED 
(
	[ChatID] ASC,
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[ChatID] [bigint] IDENTITY(1,1) NOT NULL,
	[CodigoConversacion] [nvarchar](60) NOT NULL,
	[TipoChat] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
	[FotoUrl] [nvarchar](1500) NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Reglas] [nvarchar](500) NULL,
	[PermisoEnviarMensajes] [nvarchar](20) NULL,
	[PermisoEditarInfo] [nvarchar](20) NULL,
	[CreadoPorUsuarioID] [bigint] NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Chats_CodigoConversacion] UNIQUE NONCLUSTERED 
(
	[CodigoConversacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClavesDispositivo]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClavesDispositivo](
	[ClaveDispositivoID] [bigint] IDENTITY(1,1) NOT NULL,
	[DispositivoID] [bigint] NOT NULL,
	[ClavePublica] [nvarchar](max) NOT NULL,
	[Fingerprint] [nvarchar](255) NOT NULL,
	[VersionClave] [int] NOT NULL,
	[Activa] [bit] NOT NULL,
	[FechaGeneracion] [datetime2](0) NOT NULL,
	[FechaUltimaRotacion] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaveDispositivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionSistema]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionSistema](
	[ConfiguracionID] [int] IDENTITY(1,1) NOT NULL,
	[NombreAplicacion] [nvarchar](100) NOT NULL,
	[MaxGrupo] [int] NOT NULL,
	[TimeoutMensajesMinutos] [int] NOT NULL,
	[MaxArchivoMB] [int] NOT NULL,
	[ServidorSMTP] [nvarchar](255) NULL,
	[PuertoSMTP] [int] NULL,
	[UsuarioSMTP] [nvarchar](255) NULL,
	[ClaveSMTPEncriptada] [varbinary](max) NULL,
	[ProveedorSMS] [nvarchar](50) NULL,
	[ApiKeySMSEncriptada] [varbinary](max) NULL,
	[ApiEndpoint] [nvarchar](500) NULL,
	[ApiTokenEncriptado] [varbinary](max) NULL,
	[ModoMantenimiento] [bit] NOT NULL,
	[E2ERequerido] [bit] NOT NULL,
	[AutoArchivarInactividadDias] [int] NOT NULL,
	[FechaActualizacion] [datetime2](0) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfiguracionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactosSilenciadosEstado]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactosSilenciadosEstado](
	[ContactoSilenciadoID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[ContactoUsuarioID] [bigint] NOT NULL,
	[FechaSilenciado] [datetime2](0) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactoSilenciadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ContactosSilenciadosEstado] UNIQUE NONCLUSTERED 
(
	[UsuarioID] ASC,
	[ContactoUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactosUsuario]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactosUsuario](
	[ContactoRelacionID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[ContactoUsuarioID] [bigint] NOT NULL,
	[Alias] [nvarchar](150) NULL,
	[SincronizadoAgenda] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaAgregado] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactoRelacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ContactosUsuario] UNIQUE NONCLUSTERED 
(
	[UsuarioID] ASC,
	[ContactoUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentasAcceso]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasAcceso](
	[CuentaAccesoID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[NombreUsuario] [nvarchar](100) NULL,
	[HashContrasena] [nvarchar](500) NULL,
	[Sal] [nvarchar](255) NULL,
	[UsaOTP] [bit] NOT NULL,
	[DebeCambiarContrasena] [bit] NOT NULL,
	[EstadoCuenta] [nvarchar](20) NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[BloqueadoHasta] [datetime2](0) NULL,
	[UltimoLogin] [datetime2](0) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CuentaAccesoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CuentasAcceso_Usuario] UNIQUE NONCLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DispositivosUsuario]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispositivosUsuario](
	[DispositivoID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[NombreDispositivo] [nvarchar](150) NOT NULL,
	[Plataforma] [nvarchar](50) NULL,
	[SistemaOperativo] [nvarchar](100) NULL,
	[Navegador] [nvarchar](100) NULL,
	[HuellaDispositivo] [nvarchar](250) NOT NULL,
	[CodigoSeguridad] [nvarchar](100) NULL,
	[UltimaIP] [varchar](45) NULL,
	[Verificado] [bit] NOT NULL,
	[Confiable] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
	[FechaUltimoUso] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[DispositivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Dispositivos_Huella] UNIQUE NONCLUSTERED 
(
	[HuellaDispositivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosUsuario]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosUsuario](
	[EstadoUsuarioID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[TipoContenido] [nvarchar](20) NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[MediaUrl] [nvarchar](1500) NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaExpiracion] [datetime2](0) NOT NULL,
	[EliminadoManual] [bit] NOT NULL,
	[FechaEliminacion] [datetime2](0) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoVisualizaciones]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoVisualizaciones](
	[EstadoVisualizacionID] [bigint] IDENTITY(1,1) NOT NULL,
	[EstadoUsuarioID] [bigint] NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[FechaVisualizacion] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoVisualizacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadoVisualizaciones] UNIQUE NONCLUSTERED 
(
	[EstadoUsuarioID] ASC,
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MensajeAdjuntos]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MensajeAdjuntos](
	[AdjuntoID] [bigint] IDENTITY(1,1) NOT NULL,
	[MensajeID] [bigint] NOT NULL,
	[TipoAdjunto] [nvarchar](20) NOT NULL,
	[UrlArchivo] [nvarchar](1500) NOT NULL,
	[NombreArchivo] [nvarchar](255) NULL,
	[MimeType] [nvarchar](100) NULL,
	[TamanoBytes] [bigint] NULL,
	[DuracionSegundos] [int] NULL,
	[Ancho] [int] NULL,
	[Alto] [int] NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdjuntoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MensajeEstados]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MensajeEstados](
	[MensajeEstadoID] [bigint] IDENTITY(1,1) NOT NULL,
	[MensajeID] [bigint] NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaEntrega] [datetime2](0) NULL,
	[FechaVista] [datetime2](0) NULL,
	[EliminadoParaMi] [bit] NOT NULL,
	[FechaEliminadoParaMi] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MensajeEstadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MensajeEstados] UNIQUE NONCLUSTERED 
(
	[MensajeID] ASC,
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensajes]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajes](
	[MensajeID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChatID] [bigint] NOT NULL,
	[RemitenteUsuarioID] [bigint] NOT NULL,
	[DispositivoID] [bigint] NULL,
	[EsRespuestaA] [bigint] NULL,
	[TipoMensaje] [nvarchar](20) NOT NULL,
	[Contenido] [nvarchar](max) NULL,
	[Encriptado] [bit] NOT NULL,
	[Editado] [bit] NOT NULL,
	[EliminadoParaTodos] [bit] NOT NULL,
	[EstadoServidor] [nvarchar](20) NOT NULL,
	[IpOrigen] [varchar](45) NULL,
	[FechaEnvio] [datetime2](0) NOT NULL,
	[FechaEdicion] [datetime2](0) NULL,
	[FechaEliminacion] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MensajeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PoliticasSeguridad]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoliticasSeguridad](
	[PoliticaSeguridadID] [int] IDENTITY(1,1) NOT NULL,
	[BloquearTrasIntentosFallidos] [int] NOT NULL,
	[DuracionBloqueoMinutos] [int] NOT NULL,
	[RotacionClavesDias] [int] NOT NULL,
	[DeteccionCambioDispositivo] [bit] NOT NULL,
	[VerificacionIdentidad] [bit] NOT NULL,
	[RequiereE2E] [bit] NOT NULL,
	[TimeoutLoginSospechosoMin] [int] NOT NULL,
	[MaxDispositivosPorUsuario] [int] NOT NULL,
	[FechaActualizacion] [datetime2](0) NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PoliticaSeguridadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRoles]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRoles](
	[UsuarioRolID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[RolID] [int] NOT NULL,
	[FechaAsignacion] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioRolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UsuarioRoles] UNIQUE NONCLUSTERED 
(
	[UsuarioID] ASC,
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [bigint] IDENTITY(1,1) NOT NULL,
	[ExtensionPais] [nvarchar](10) NOT NULL,
	[NumeroTelefono] [nvarchar](20) NOT NULL,
	[TelefonoCompleto]  AS (concat([ExtensionPais],[NumeroTelefono])) PERSISTED NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[FotoUrl] [nvarchar](1500) NULL,
	[Descripcion] [nvarchar](255) NULL,
	[EstadoPerfil] [nvarchar](20) NOT NULL,
	[Verificado] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Eliminado] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaUltimoAcceso] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_TelefonoCompleto] UNIQUE NONCLUSTERED 
(
	[TelefonoCompleto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerificacionesSMS]    Script Date: 03/04/2026 22:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificacionesSMS](
	[VerificacionID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NULL,
	[DispositivoID] [bigint] NULL,
	[ExtensionPais] [nvarchar](10) NOT NULL,
	[NumeroTelefono] [nvarchar](20) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[ProveedorSMS] [nvarchar](50) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Intentos] [int] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaExpiracion] [datetime2](0) NOT NULL,
	[FechaVerificacion] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[VerificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BitacoraEventos_Categoria_FechaEvento]    Script Date: 03/04/2026 22:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_BitacoraEventos_Categoria_FechaEvento] ON [dbo].[BitacoraEventos]
(
	[Categoria] ASC,
	[FechaEvento] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatParticipantes_UsuarioID]    Script Date: 03/04/2026 22:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_ChatParticipantes_UsuarioID] ON [dbo].[ChatParticipantes]
(
	[UsuarioID] ASC,
	[ChatID] ASC,
	[Archivado] ASC,
	[Fijado] ASC,
	[Silenciado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContactosUsuario_UsuarioID]    Script Date: 03/04/2026 22:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_ContactosUsuario_UsuarioID] ON [dbo].[ContactosUsuario]
(
	[UsuarioID] ASC,
	[ContactoUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXU_CuentasAcceso_NombreUsuario_NotNull]    Script Date: 03/04/2026 22:16:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IXU_CuentasAcceso_NombreUsuario_NotNull] ON [dbo].[CuentasAcceso]
(
	[NombreUsuario] ASC
)
WHERE ([NombreUsuario] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstadosUsuario_UsuarioID_FechaCreacion]    Script Date: 03/04/2026 22:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_EstadosUsuario_UsuarioID_FechaCreacion] ON [dbo].[EstadosUsuario]
(
	[UsuarioID] ASC,
	[FechaCreacion] DESC,
	[FechaExpiracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MensajeEstados_UsuarioID_Estado]    Script Date: 03/04/2026 22:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_MensajeEstados_UsuarioID_Estado] ON [dbo].[MensajeEstados]
(
	[UsuarioID] ASC,
	[Estado] ASC,
	[FechaVista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mensajes_ChatID_FechaEnvio]    Script Date: 03/04/2026 22:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_Mensajes_ChatID_FechaEnvio] ON [dbo].[Mensajes]
(
	[ChatID] ASC,
	[FechaEnvio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXU_Usuarios_Email_NotNull]    Script Date: 03/04/2026 22:16:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IXU_Usuarios_Email_NotNull] ON [dbo].[Usuarios]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BitacoraEventos] ADD  CONSTRAINT [DF_BitacoraEventos_Severidad]  DEFAULT ('info') FOR [Severidad]
GO
ALTER TABLE [dbo].[BitacoraEventos] ADD  CONSTRAINT [DF_BitacoraEventos_Fecha]  DEFAULT (sysutcdatetime()) FOR [FechaEvento]
GO
ALTER TABLE [dbo].[ChatParticipantes] ADD  CONSTRAINT [DF_ChatParticipantes_Rol]  DEFAULT ('member') FOR [Rol]
GO
ALTER TABLE [dbo].[ChatParticipantes] ADD  CONSTRAINT [DF_ChatParticipantes_Fijado]  DEFAULT ((0)) FOR [Fijado]
GO
ALTER TABLE [dbo].[ChatParticipantes] ADD  CONSTRAINT [DF_ChatParticipantes_Archivado]  DEFAULT ((0)) FOR [Archivado]
GO
ALTER TABLE [dbo].[ChatParticipantes] ADD  CONSTRAINT [DF_ChatParticipantes_Silenciado]  DEFAULT ((0)) FOR [Silenciado]
GO
ALTER TABLE [dbo].[ChatParticipantes] ADD  CONSTRAINT [DF_ChatParticipantes_FechaUnion]  DEFAULT (sysutcdatetime()) FOR [FechaUnion]
GO
ALTER TABLE [dbo].[ChatParticipantes] ADD  CONSTRAINT [DF_ChatParticipantes_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Chats] ADD  CONSTRAINT [DF_Chats_CodigoConversacion]  DEFAULT (concat('conv-',replace(CONVERT([nvarchar](36),newid()),'-',''))) FOR [CodigoConversacion]
GO
ALTER TABLE [dbo].[Chats] ADD  CONSTRAINT [DF_Chats_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Chats] ADD  CONSTRAINT [DF_Chats_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ClavesDispositivo] ADD  CONSTRAINT [DF_ClavesDispositivo_Version]  DEFAULT ((1)) FOR [VersionClave]
GO
ALTER TABLE [dbo].[ClavesDispositivo] ADD  CONSTRAINT [DF_ClavesDispositivo_Activa]  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[ClavesDispositivo] ADD  CONSTRAINT [DF_ClavesDispositivo_FechaGeneracion]  DEFAULT (sysutcdatetime()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  CONSTRAINT [DF_ConfiguracionSistema_Nombre]  DEFAULT ('CUChatNet') FOR [NombreAplicacion]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  CONSTRAINT [DF_ConfiguracionSistema_MaxGrupo]  DEFAULT ((500)) FOR [MaxGrupo]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  CONSTRAINT [DF_ConfiguracionSistema_Timeout]  DEFAULT ((30)) FOR [TimeoutMensajesMinutos]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  CONSTRAINT [DF_ConfiguracionSistema_MaxArchivo]  DEFAULT ((100)) FOR [MaxArchivoMB]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  CONSTRAINT [DF_ConfiguracionSistema_ModoMantenimiento]  DEFAULT ((0)) FOR [ModoMantenimiento]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  CONSTRAINT [DF_ConfiguracionSistema_E2E]  DEFAULT ((1)) FOR [E2ERequerido]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  CONSTRAINT [DF_ConfiguracionSistema_AutoArchivar]  DEFAULT ((90)) FOR [AutoArchivarInactividadDias]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  CONSTRAINT [DF_ConfiguracionSistema_Fecha]  DEFAULT (sysutcdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  CONSTRAINT [DF_ConfiguracionSistema_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ContactosSilenciadosEstado] ADD  CONSTRAINT [DF_ContactosSilenciadosEstado_Fecha]  DEFAULT (sysutcdatetime()) FOR [FechaSilenciado]
GO
ALTER TABLE [dbo].[ContactosSilenciadosEstado] ADD  CONSTRAINT [DF_ContactosSilenciadosEstado_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ContactosUsuario] ADD  CONSTRAINT [DF_ContactosUsuario_SincronizadoAgenda]  DEFAULT ((0)) FOR [SincronizadoAgenda]
GO
ALTER TABLE [dbo].[ContactosUsuario] ADD  CONSTRAINT [DF_ContactosUsuario_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ContactosUsuario] ADD  CONSTRAINT [DF_ContactosUsuario_FechaAgregado]  DEFAULT (sysutcdatetime()) FOR [FechaAgregado]
GO
ALTER TABLE [dbo].[CuentasAcceso] ADD  CONSTRAINT [DF_CuentasAcceso_UsaOTP]  DEFAULT ((1)) FOR [UsaOTP]
GO
ALTER TABLE [dbo].[CuentasAcceso] ADD  CONSTRAINT [DF_CuentasAcceso_DebeCambiar]  DEFAULT ((0)) FOR [DebeCambiarContrasena]
GO
ALTER TABLE [dbo].[CuentasAcceso] ADD  CONSTRAINT [DF_CuentasAcceso_Estado]  DEFAULT ('active') FOR [EstadoCuenta]
GO
ALTER TABLE [dbo].[CuentasAcceso] ADD  CONSTRAINT [DF_CuentasAcceso_Intentos]  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[CuentasAcceso] ADD  CONSTRAINT [DF_CuentasAcceso_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[DispositivosUsuario] ADD  CONSTRAINT [DF_Dispositivos_Verificado]  DEFAULT ((0)) FOR [Verificado]
GO
ALTER TABLE [dbo].[DispositivosUsuario] ADD  CONSTRAINT [DF_Dispositivos_Confiable]  DEFAULT ((0)) FOR [Confiable]
GO
ALTER TABLE [dbo].[DispositivosUsuario] ADD  CONSTRAINT [DF_Dispositivos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[DispositivosUsuario] ADD  CONSTRAINT [DF_Dispositivos_FechaRegistro]  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[EstadosUsuario] ADD  CONSTRAINT [DF_EstadosUsuario_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[EstadosUsuario] ADD  CONSTRAINT [DF_EstadosUsuario_FechaExpiracion]  DEFAULT (dateadd(hour,(24),sysutcdatetime())) FOR [FechaExpiracion]
GO
ALTER TABLE [dbo].[EstadosUsuario] ADD  CONSTRAINT [DF_EstadosUsuario_EliminadoManual]  DEFAULT ((0)) FOR [EliminadoManual]
GO
ALTER TABLE [dbo].[EstadosUsuario] ADD  CONSTRAINT [DF_EstadosUsuario_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[EstadoVisualizaciones] ADD  CONSTRAINT [DF_EstadoVisualizaciones_Fecha]  DEFAULT (sysutcdatetime()) FOR [FechaVisualizacion]
GO
ALTER TABLE [dbo].[MensajeAdjuntos] ADD  CONSTRAINT [DF_MensajeAdjuntos_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[MensajeEstados] ADD  CONSTRAINT [DF_MensajeEstados_Estado]  DEFAULT ('sent') FOR [Estado]
GO
ALTER TABLE [dbo].[MensajeEstados] ADD  CONSTRAINT [DF_MensajeEstados_EliminadoParaMi]  DEFAULT ((0)) FOR [EliminadoParaMi]
GO
ALTER TABLE [dbo].[Mensajes] ADD  CONSTRAINT [DF_Mensajes_Encriptado]  DEFAULT ((1)) FOR [Encriptado]
GO
ALTER TABLE [dbo].[Mensajes] ADD  CONSTRAINT [DF_Mensajes_Editado]  DEFAULT ((0)) FOR [Editado]
GO
ALTER TABLE [dbo].[Mensajes] ADD  CONSTRAINT [DF_Mensajes_EliminadoParaTodos]  DEFAULT ((0)) FOR [EliminadoParaTodos]
GO
ALTER TABLE [dbo].[Mensajes] ADD  CONSTRAINT [DF_Mensajes_EstadoServidor]  DEFAULT ('sent') FOR [EstadoServidor]
GO
ALTER TABLE [dbo].[Mensajes] ADD  CONSTRAINT [DF_Mensajes_FechaEnvio]  DEFAULT (sysutcdatetime()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  CONSTRAINT [DF_PoliticasSeguridad_Intentos]  DEFAULT ((5)) FOR [BloquearTrasIntentosFallidos]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  CONSTRAINT [DF_PoliticasSeguridad_Duracion]  DEFAULT ((15)) FOR [DuracionBloqueoMinutos]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  CONSTRAINT [DF_PoliticasSeguridad_Rotacion]  DEFAULT ((90)) FOR [RotacionClavesDias]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  CONSTRAINT [DF_PoliticasSeguridad_Deteccion]  DEFAULT ((1)) FOR [DeteccionCambioDispositivo]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  CONSTRAINT [DF_PoliticasSeguridad_Verificacion]  DEFAULT ((1)) FOR [VerificacionIdentidad]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  CONSTRAINT [DF_PoliticasSeguridad_E2E]  DEFAULT ((1)) FOR [RequiereE2E]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  CONSTRAINT [DF_PoliticasSeguridad_Timeout]  DEFAULT ((30)) FOR [TimeoutLoginSospechosoMin]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  CONSTRAINT [DF_PoliticasSeguridad_MaxDispositivos]  DEFAULT ((5)) FOR [MaxDispositivosPorUsuario]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  CONSTRAINT [DF_PoliticasSeguridad_Fecha]  DEFAULT (sysutcdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  CONSTRAINT [DF_PoliticasSeguridad_Activa]  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[UsuarioRoles] ADD  CONSTRAINT [DF_UsuarioRoles_FechaAsignacion]  DEFAULT (sysutcdatetime()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_EstadoPerfil]  DEFAULT ('available') FOR [EstadoPerfil]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Verificado]  DEFAULT ((0)) FOR [Verificado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Eliminado]  DEFAULT ((0)) FOR [Eliminado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[VerificacionesSMS] ADD  CONSTRAINT [DF_VerificacionesSMS_Estado]  DEFAULT ('pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[VerificacionesSMS] ADD  CONSTRAINT [DF_VerificacionesSMS_Intentos]  DEFAULT ((0)) FOR [Intentos]
GO
ALTER TABLE [dbo].[VerificacionesSMS] ADD  CONSTRAINT [DF_VerificacionesSMS_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[VerificacionesSMS] ADD  CONSTRAINT [DF_VerificacionesSMS_FechaExpiracion]  DEFAULT (dateadd(minute,(10),sysutcdatetime())) FOR [FechaExpiracion]
GO
ALTER TABLE [dbo].[BitacoraEventos]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraEventos_Dispositivos] FOREIGN KEY([DispositivoID])
REFERENCES [dbo].[DispositivosUsuario] ([DispositivoID])
GO
ALTER TABLE [dbo].[BitacoraEventos] CHECK CONSTRAINT [FK_BitacoraEventos_Dispositivos]
GO
ALTER TABLE [dbo].[BitacoraEventos]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraEventos_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[BitacoraEventos] CHECK CONSTRAINT [FK_BitacoraEventos_Usuarios]
GO
ALTER TABLE [dbo].[ChatParticipantes]  WITH CHECK ADD  CONSTRAINT [FK_ChatParticipantes_Chats] FOREIGN KEY([ChatID])
REFERENCES [dbo].[Chats] ([ChatID])
GO
ALTER TABLE [dbo].[ChatParticipantes] CHECK CONSTRAINT [FK_ChatParticipantes_Chats]
GO
ALTER TABLE [dbo].[ChatParticipantes]  WITH CHECK ADD  CONSTRAINT [FK_ChatParticipantes_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[ChatParticipantes] CHECK CONSTRAINT [FK_ChatParticipantes_Usuarios]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_Creador] FOREIGN KEY([CreadoPorUsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_Creador]
GO
ALTER TABLE [dbo].[ClavesDispositivo]  WITH CHECK ADD  CONSTRAINT [FK_ClavesDispositivo_Dispositivos] FOREIGN KEY([DispositivoID])
REFERENCES [dbo].[DispositivosUsuario] ([DispositivoID])
GO
ALTER TABLE [dbo].[ClavesDispositivo] CHECK CONSTRAINT [FK_ClavesDispositivo_Dispositivos]
GO
ALTER TABLE [dbo].[ContactosSilenciadosEstado]  WITH CHECK ADD  CONSTRAINT [FK_ContactosSilenciadosEstado_Contacto] FOREIGN KEY([ContactoUsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[ContactosSilenciadosEstado] CHECK CONSTRAINT [FK_ContactosSilenciadosEstado_Contacto]
GO
ALTER TABLE [dbo].[ContactosSilenciadosEstado]  WITH CHECK ADD  CONSTRAINT [FK_ContactosSilenciadosEstado_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[ContactosSilenciadosEstado] CHECK CONSTRAINT [FK_ContactosSilenciadosEstado_Usuario]
GO
ALTER TABLE [dbo].[ContactosUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ContactosUsuario_Contacto] FOREIGN KEY([ContactoUsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[ContactosUsuario] CHECK CONSTRAINT [FK_ContactosUsuario_Contacto]
GO
ALTER TABLE [dbo].[ContactosUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ContactosUsuario_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[ContactosUsuario] CHECK CONSTRAINT [FK_ContactosUsuario_Usuario]
GO
ALTER TABLE [dbo].[CuentasAcceso]  WITH CHECK ADD  CONSTRAINT [FK_CuentasAcceso_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[CuentasAcceso] CHECK CONSTRAINT [FK_CuentasAcceso_Usuarios]
GO
ALTER TABLE [dbo].[DispositivosUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Dispositivos_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[DispositivosUsuario] CHECK CONSTRAINT [FK_Dispositivos_Usuarios]
GO
ALTER TABLE [dbo].[EstadosUsuario]  WITH CHECK ADD  CONSTRAINT [FK_EstadosUsuario_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[EstadosUsuario] CHECK CONSTRAINT [FK_EstadosUsuario_Usuarios]
GO
ALTER TABLE [dbo].[EstadoVisualizaciones]  WITH CHECK ADD  CONSTRAINT [FK_EstadoVisualizaciones_EstadosUsuario] FOREIGN KEY([EstadoUsuarioID])
REFERENCES [dbo].[EstadosUsuario] ([EstadoUsuarioID])
GO
ALTER TABLE [dbo].[EstadoVisualizaciones] CHECK CONSTRAINT [FK_EstadoVisualizaciones_EstadosUsuario]
GO
ALTER TABLE [dbo].[EstadoVisualizaciones]  WITH CHECK ADD  CONSTRAINT [FK_EstadoVisualizaciones_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[EstadoVisualizaciones] CHECK CONSTRAINT [FK_EstadoVisualizaciones_Usuarios]
GO
ALTER TABLE [dbo].[MensajeAdjuntos]  WITH CHECK ADD  CONSTRAINT [FK_MensajeAdjuntos_Mensajes] FOREIGN KEY([MensajeID])
REFERENCES [dbo].[Mensajes] ([MensajeID])
GO
ALTER TABLE [dbo].[MensajeAdjuntos] CHECK CONSTRAINT [FK_MensajeAdjuntos_Mensajes]
GO
ALTER TABLE [dbo].[MensajeEstados]  WITH CHECK ADD  CONSTRAINT [FK_MensajeEstados_Mensajes] FOREIGN KEY([MensajeID])
REFERENCES [dbo].[Mensajes] ([MensajeID])
GO
ALTER TABLE [dbo].[MensajeEstados] CHECK CONSTRAINT [FK_MensajeEstados_Mensajes]
GO
ALTER TABLE [dbo].[MensajeEstados]  WITH CHECK ADD  CONSTRAINT [FK_MensajeEstados_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[MensajeEstados] CHECK CONSTRAINT [FK_MensajeEstados_Usuarios]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Chats] FOREIGN KEY([ChatID])
REFERENCES [dbo].[Chats] ([ChatID])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Chats]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Dispositivos] FOREIGN KEY([DispositivoID])
REFERENCES [dbo].[DispositivosUsuario] ([DispositivoID])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Dispositivos]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_RespuestaA] FOREIGN KEY([EsRespuestaA])
REFERENCES [dbo].[Mensajes] ([MensajeID])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_RespuestaA]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Usuarios] FOREIGN KEY([RemitenteUsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Usuarios]
GO
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRoles_Roles] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[UsuarioRoles] CHECK CONSTRAINT [FK_UsuarioRoles_Roles]
GO
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRoles_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[UsuarioRoles] CHECK CONSTRAINT [FK_UsuarioRoles_Usuarios]
GO
ALTER TABLE [dbo].[VerificacionesSMS]  WITH CHECK ADD  CONSTRAINT [FK_VerificacionesSMS_Dispositivos] FOREIGN KEY([DispositivoID])
REFERENCES [dbo].[DispositivosUsuario] ([DispositivoID])
GO
ALTER TABLE [dbo].[VerificacionesSMS] CHECK CONSTRAINT [FK_VerificacionesSMS_Dispositivos]
GO
ALTER TABLE [dbo].[VerificacionesSMS]  WITH CHECK ADD  CONSTRAINT [FK_VerificacionesSMS_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[VerificacionesSMS] CHECK CONSTRAINT [FK_VerificacionesSMS_Usuarios]
GO
ALTER TABLE [dbo].[BitacoraEventos]  WITH CHECK ADD  CONSTRAINT [CK_BitacoraEventos_Categoria] CHECK  (([Categoria]='system' OR [Categoria]='message' OR [Categoria]='security' OR [Categoria]='admin'))
GO
ALTER TABLE [dbo].[BitacoraEventos] CHECK CONSTRAINT [CK_BitacoraEventos_Categoria]
GO
ALTER TABLE [dbo].[BitacoraEventos]  WITH CHECK ADD  CONSTRAINT [CK_BitacoraEventos_Severidad] CHECK  (([Severidad]='critical' OR [Severidad]='error' OR [Severidad]='warning' OR [Severidad]='info'))
GO
ALTER TABLE [dbo].[BitacoraEventos] CHECK CONSTRAINT [CK_BitacoraEventos_Severidad]
GO
ALTER TABLE [dbo].[ChatParticipantes]  WITH CHECK ADD  CONSTRAINT [CK_ChatParticipantes_Rol] CHECK  (([Rol]='member' OR [Rol]='admin'))
GO
ALTER TABLE [dbo].[ChatParticipantes] CHECK CONSTRAINT [CK_ChatParticipantes_Rol]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [CK_Chats_PermisoEditar] CHECK  (([PermisoEditarInfo] IS NULL OR ([PermisoEditarInfo]='admins' OR [PermisoEditarInfo]='all')))
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [CK_Chats_PermisoEditar]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [CK_Chats_PermisoEnviar] CHECK  (([PermisoEnviarMensajes] IS NULL OR ([PermisoEnviarMensajes]='admins' OR [PermisoEnviarMensajes]='all')))
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [CK_Chats_PermisoEnviar]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [CK_Chats_TipoChat] CHECK  (([TipoChat]='group' OR [TipoChat]='individual'))
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [CK_Chats_TipoChat]
GO
ALTER TABLE [dbo].[ContactosSilenciadosEstado]  WITH CHECK ADD  CONSTRAINT [CK_ContactosSilenciadosEstado_Distinto] CHECK  (([UsuarioID]<>[ContactoUsuarioID]))
GO
ALTER TABLE [dbo].[ContactosSilenciadosEstado] CHECK CONSTRAINT [CK_ContactosSilenciadosEstado_Distinto]
GO
ALTER TABLE [dbo].[ContactosUsuario]  WITH CHECK ADD  CONSTRAINT [CK_ContactosUsuario_Distinto] CHECK  (([UsuarioID]<>[ContactoUsuarioID]))
GO
ALTER TABLE [dbo].[ContactosUsuario] CHECK CONSTRAINT [CK_ContactosUsuario_Distinto]
GO
ALTER TABLE [dbo].[CuentasAcceso]  WITH CHECK ADD  CONSTRAINT [CK_CuentasAcceso_Estado] CHECK  (([EstadoCuenta]='suspended' OR [EstadoCuenta]='inactive' OR [EstadoCuenta]='active'))
GO
ALTER TABLE [dbo].[CuentasAcceso] CHECK CONSTRAINT [CK_CuentasAcceso_Estado]
GO
ALTER TABLE [dbo].[EstadosUsuario]  WITH CHECK ADD  CONSTRAINT [CK_EstadosUsuario_TipoContenido] CHECK  (([TipoContenido]='image' OR [TipoContenido]='text'))
GO
ALTER TABLE [dbo].[EstadosUsuario] CHECK CONSTRAINT [CK_EstadosUsuario_TipoContenido]
GO
ALTER TABLE [dbo].[MensajeAdjuntos]  WITH CHECK ADD  CONSTRAINT [CK_MensajeAdjuntos_TipoAdjunto] CHECK  (([TipoAdjunto]='file' OR [TipoAdjunto]='audio' OR [TipoAdjunto]='video' OR [TipoAdjunto]='image'))
GO
ALTER TABLE [dbo].[MensajeAdjuntos] CHECK CONSTRAINT [CK_MensajeAdjuntos_TipoAdjunto]
GO
ALTER TABLE [dbo].[MensajeEstados]  WITH CHECK ADD  CONSTRAINT [CK_MensajeEstados_Estado] CHECK  (([Estado]='failed' OR [Estado]='seen' OR [Estado]='received' OR [Estado]='sent'))
GO
ALTER TABLE [dbo].[MensajeEstados] CHECK CONSTRAINT [CK_MensajeEstados_Estado]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [CK_Mensajes_EstadoServidor] CHECK  (([EstadoServidor]='failed' OR [EstadoServidor]='sent' OR [EstadoServidor]='sending'))
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [CK_Mensajes_EstadoServidor]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [CK_Mensajes_TipoMensaje] CHECK  (([TipoMensaje]='file' OR [TipoMensaje]='audio' OR [TipoMensaje]='video' OR [TipoMensaje]='image' OR [TipoMensaje]='text'))
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [CK_Mensajes_TipoMensaje]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_EstadoPerfil] CHECK  (([EstadoPerfil]='away' OR [EstadoPerfil]='busy' OR [EstadoPerfil]='available'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_EstadoPerfil]
GO
ALTER TABLE [dbo].[VerificacionesSMS]  WITH CHECK ADD  CONSTRAINT [CK_VerificacionesSMS_Estado] CHECK  (([Estado]='cancelado' OR [Estado]='expirado' OR [Estado]='verificado' OR [Estado]='pendiente'))
GO
ALTER TABLE [dbo].[VerificacionesSMS] CHECK CONSTRAINT [CK_VerificacionesSMS_Estado]
GO
USE [master]
GO
